# Create Concept / Term Maps 
this notebook will load the subjects and create a translation for subjects

The relationships are based on common SUBJECT_IDs from the TERMS.out file, paired with the LANGUAGE_RELS.out files. The language codes are specified and limited. While TERMS do not have to be PREFERRED, the LANG_REL term_ids must be. 

The set created in this notebook are independent of the analysis performed in the Arquin project (although the lanugages selected are specific to the project).

In [2]:
# run functions
%run functions.ipynb

In [3]:
# english
english_code = ['70051','70052']
spanish_code = '70641'
portuguese_code = '70543'

Load the subjects from Lang_Rels and Terms

In [4]:
terms, lang_rels = load_metadata(eng_only=False, return_concepts=False)

/var/folders/ts/9ppg2hqj4t5_9cslr1528y_m0000gp/T/ipykernel_24387/3168744551.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data = pd.read_csv(file_path
/var/folders/ts/9ppg2hqj4t5_9cslr1528y_m0000gp/T/ipykernel_24387/3168744551.py:2: FutureWarning: The warn_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data = pd.read_csv(file_path
b'Skipping line 451800: expected 13 fields, saw 14\n'
/var/folders/ts/9ppg2hqj4t5_9cslr1528y_m0000gp/T/ipykernel_24387/3168744551.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path
/var/folders/ts/9ppg2hqj4t5_9cslr1528y_m0000gp/T/ipykernel_24387/3168744551.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data = pd.read_csv(file_path
/var/folders/ts/9ppg2hqj4t5_9cslr1528y_m0000gp/T/ipykernel_24387/3168744551.py:2: FutureWarning: The warn_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data = pd.read_csv(file_path
b'Skipping line 466042: expected 8 fields, saw 9\nSkipping line 468123: expected 8 fields, saw 9\n'

In [5]:
t = terms

In [6]:
t2 = t[t['SUBJECT_ID']=='300423325']
t2[t2['PREFERRED'] == 'P']

,AACR2_FLAG,DISPLAY_DATE,DISPLAY_NAME,DISPLAY_ORDER,END_DATE,HISTORIC_FLAG,OTHER_FLAGS,PREFERRED,START_DATE,SUBJECT_ID,TERM,TERM_ID,VERNACULAR
339422,NaN,NaN,NaN,1.0,NaN,C,NaN,P,NaN,300423325,clothesline,1000784682,U

In [7]:
l = lang_rels[lang_rels['PREFERRED']=='P']

In [8]:
l[l['TERM_ID']=='1000784682']

Empty DataFrame
Columns: [LANGUAGE_CODE, PREFERRED, SUBJECT_ID, TERM_ID, QUALIFIER, TERM_TYPE, PART_OF_SPEECH, LANG_STAT]
Index: []

In [9]:
# Example
# t[t['TERM_ID']=='1000414052'][['SUBJECT_ID','TERM_ID']]

In [67]:
headers = ['SUBJECT_ID_x', 'LANGUAGE_CODE', 'TERM', 'TERM_ID', 'QUALIFIER', 'PREFERRED_x', 'PREFERRED_y']

In [11]:
lang_headers = [
    'SUBJECT_ID', 'term_english', 'term_id_english', 'qualifier_english',
    'term_spanish', 'term_id_spanish', 'qualifier_spanish',
    'term_port', 'term_id_port', 'qualifier_port'
               ]

### English

In [60]:
l_english = lang_rels[(lang_rels['LANGUAGE_CODE'].isin(english_code))] #& (l['PREFERRED']=='P')]

In [13]:
# examples
# l_english[l_english['SUBJECT_ID']=='300005268']

In [73]:
lt_english = pd.merge(t, l_english, on=('TERM_ID'))[headers]
lt_english = lt_english[(lt_english['PREFERRED_x'] == 'P') | (lt_english['PREFERRED_y'] == 'Y')]


# ata_balance = alldata[(alldata[IBRD] !=0) | (alldata[IMF] !=0)]

In [74]:
lt_english[lt_english['SUBJECT_ID_x'] == '300434004']

,SUBJECT_ID_x,LANGUAGE_CODE,TERM,TERM_ID,QUALIFIER,PREFERRED_x,PREFERRED_y
164330,300434004,70051,string light,1000804262,NaN,P,N

In [77]:
lt_english = lt_english.rename(columns={'SUBJECT_ID_x': 'SUBJECT_ID', 
'TERM': 'term_english', 
'TERM_ID': 'term_id_english', 
'QUALIFIER': 'qualifier_english',
'PREFERRED_x': 'preferred_lang_rel', 
'PREFERRED_y': 'preferred_concept'
                       }
              )

In [78]:
# example
lt_english[lt_english['SUBJECT_ID'] == '300005268']

,SUBJECT_ID,LANGUAGE_CODE,term_english,term_id_english,qualifier_english,preferred_lang_rel,preferred_concept
47776,300005268,70052,shopping centers,1000005268,NaN,P,P

### Spanish

In [79]:
l_spanish = l[(l['LANGUAGE_CODE']==spanish_code)] # & (l['PREFERRED']=='P')]

In [81]:
lt_spanish = pd.merge(t, l_spanish, on=('TERM_ID'))[headers]
lt_spanish = lt_spanish[(lt_spanish['PREFERRED_x'] == 'P') | (lt_spanish['PREFERRED_y'] == 'Y')]

In [20]:
# example
# lt_spanish[lt_spanish['TERM_ID']=='1000414052']

In [21]:
# example
# lang_rels[lang_rels['TERM_ID']=='1000414052']

In [82]:
lt_spanish = lt_spanish.rename(columns={'SUBJECT_ID_x': 'SUBJECT_ID', 
'TERM': 'term_spanish', 
'TERM_ID': 'term_id_spanish', 
'QUALIFIER': 'qualifier_spanish',
'PREFERRED_x': 'preferred_lang_rel', 
'PREFERRED_y': 'preferred_concept'
                       }
              )

In [23]:
# lt_spanish

In [24]:
# example
# lt_spanish[lt_spanish['SUBJECT_ID'] == '300005268']

In [86]:
l_port = l[(l['LANGUAGE_CODE']==portuguese_code) & (l['PREFERRED']=='P')]

In [87]:
lt_port = pd.merge(t, l_port, on=('TERM_ID'))
lt_port = lt_port[(lt_port['PREFERRED_x'] == 'P') | (lt_port['PREFERRED_y'] == 'Y')]

In [88]:
lt_port = lt_port.rename(columns={'SUBJECT_ID_x': 'SUBJECT_ID', 
'TERM': 'term_port', 
'TERM_ID': 'term_id_port', 
'QUALIFIER': 'qualifier_port',
'PREFERRED_x': 'preferred_lang_rel', 
'PREFERRED_y': 'preferred_concept'
                       }
              )

In [28]:
# # example
# lt_port[lt_port['SUBJECT_ID']=='300005268']

In [29]:
# example
# lt_port[lt_port['SUBJECT_ID']=='300005268']

In [89]:
lt_first = pd.merge(lt_english, lt_spanish, on=['SUBJECT_ID'], how='outer')

In [90]:
lt_all = pd.merge(lt_first, lt_port, on=['SUBJECT_ID'], how='outer')

In [32]:
# lt_all.columns

In [33]:
# example
# lt_all[lt_all['SUBJECT_ID']=='300005268'][lang_headers]

In [34]:
# example# lt_all[lt_all['term_id_spanish']=='1000414052']

## Results

view the results that have all translations available

In [91]:
lt_all[
    (lt_all['term_id_english'].notnull()) 
    & (lt_all['term_id_spanish'].notnull()) 
    & (lt_all['term_id_port'].notnull()) 
]

,SUBJECT_ID,LANGUAGE_CODE_x,term_english,term_id_english,qualifier_english,preferred_lang_rel_x,preferred_concept_x,LANGUAGE_CODE_y,term_spanish,term_id_spanish,...,term_port,term_id_port,VERNACULAR,LANGUAGE_CODE,preferred_concept,SUBJECT_ID_y,qualifier_port,TERM_TYPE,PART_OF_SPEECH,LANG_STAT
557,300263683,70051,ikegobo,1000263683,NaN,P,P,70641,ikegobo,1000263683,...,ikegobo,1000263683,U,70543,P,300263683,NaN,D,B,U
1156,300252980,70051,fanzines,1000252980,NaN,P,P,70641,fanzines,1000252980,...,fanzines,1000252980,U,70543,P,300252980,NaN,D,PN,U
1713,300263920,70051,mboko,1000263920,sculpture,P,P,70641,mboko,1000263920,...,mboko,1000263920,U,70543,P,300263920,esculturas,D,U,L
1865,300264042,70051,onile,1000264042,NaN,P,P,70641,onile,1000264042,...,onile,1000264042,U,70543,P,300264042,NaN,D,U,U
1866,300264043,70051,ofo,1000264043,sculptures,P,P,70641,ofo,1000264043,...,ofo,1000264043,U,70543,P,300264043,esculturas,D,U,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30831,300264867,70051,hachas,1000305220,visual work,P,P,70641,hachas,1000305220,...,hachas,1000305220,U,70543,P,300264867,obras visuais,D,PN,L
31452,300055540,70051,agitprop,1000055540,NaN,P,P,70641,agitprop,1000055540,...,agitprop,1000055540,U,70543,P,300055540,NaN,D,SN,U
31584,300264772,70051,rongo-rongo,1000304895,NaN,P,P,70641,rongo-rongo,1000304895,...,rongo-rongo,1000304895,U,70543,P,300264772,NaN,D,U,L
32235,300264730,70051,kimbi,1000304701,NaN,P,P,70641,kimbi,1000304701,...,kimbi,1000304701,U,70543,P,300264730,NaN,D,U,L
49591,300006062,70051,hôtels de ville,1000006062,NaN,P,P,70641,hôtels de ville,1000006062,...,hôtels de ville,1000006062,U,70543,P,300006062,NaN,D,PN,L

In [92]:
lt_all[lt_all['SUBJECT_ID']== '300434004']

,SUBJECT_ID,LANGUAGE_CODE_x,term_english,term_id_english,qualifier_english,preferred_lang_rel_x,preferred_concept_x,LANGUAGE_CODE_y,term_spanish,term_id_spanish,...,term_port,term_id_port,VERNACULAR,LANGUAGE_CODE,preferred_concept,SUBJECT_ID_y,qualifier_port,TERM_TYPE,PART_OF_SPEECH,LANG_STAT
51141,300434004,70051,string light,1000804262,NaN,P,N,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [93]:
lang_rels[lang_rels['SUBJECT_ID']=='300434004']

,LANGUAGE_CODE,PREFERRED,SUBJECT_ID,TERM_ID,QUALIFIER,TERM_TYPE,PART_OF_SPEECH,LANG_STAT
423666,70051,N,300434004,1000804262,NaN,AD,SN,U
423667,70271,P,300434004,1000804263,NaN,AD,FSN,U

In [94]:
t[t['SUBJECT_ID']=='300434004']

,AACR2_FLAG,DISPLAY_DATE,DISPLAY_NAME,DISPLAY_ORDER,END_DATE,HISTORIC_FLAG,OTHER_FLAGS,PREFERRED,START_DATE,SUBJECT_ID,TERM,TERM_ID,VERNACULAR
410839,NaN,NaN,NaN,1.0,NaN,C,NaN,P,NaN,300434004,string light,1000804262,U
410840,NaN,NaN,NaN,2.0,NaN,C,NaN,V,NaN,300434004,guirlande électrique,1000804263,U